#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn-gold {
	color: #2B2D42;
	background: #ffd700 linear-gradient(180deg, #ffd700, #af9500) repeat-x;
	border-color: #FFd700;
}

.btn-gold:hover {
	color: #fff;
	background: #9c8607 linear-gradient(180deg, #c0a925, #9e8a17) repeat-x;
	border-color: #83135e;
}

.btn-primary:hover, .btn-primary:active:hover {
	background-color: #95156b; 
}

.btn-silver {
	color: #2B2D42;
	background: #C0C0C0 linear-gradient(180deg, #C0C0C0, #A9A9A9) repeat-x;
	border-color: #C0C0C0;
}

.btn-silver:hover {
	color: #fff;
	background: #A9A9A9 linear-gradient(180deg, #B0B0B0, #888888) repeat-x;
	border-color: #6E6E6E;
}

.btn-primary:hover,
.btn-primary:active:hover {
	background-color: #6E6E6E;
}

.underglow {
  box-shadow: 10px 5px 5px #B0197C;
}